/**************************************
 * Imports (fonts, mixins, variables)
 **************************************/

@import url("http://fonts.googleapis.com/css?family=Roboto:400,400italic,700");
@import "variables-mixins.scss";

/********************************
 * Base Styles
 ********************************/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
svg,
video {
   vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

body { 
  font-size: 0.625em;
  font-family: $roboto;
}

/********************************************
 * Browse Happy prompt
 ********************************************/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/********************************
 * Header Styles
 ********************************/

header {
 	width: 100%;
 	height: 100px;
	background: white;
  // border-bottom: 1px dashed $offBlack;
	color: white;
	letter-spacing: 4px;

	.wrapper {
		width: 80%;
		max-width: 940px;
		margin: 0 auto;
		padding-top: 15px;
		@include respond('tablet') { width: 95%; }
		@include respond('mobile') { width: 98%; }
		
		.logo {
			padding: 5px;
			font-weight: 400;
			font-size: 3.4em;

			span { font-size: 1.2em; }
		}
	}
}

/********************************
 * Front Page Styles
 ********************************/

.wrapper {
  width: 80%;
  max-width: 940px;
  margin: 10px auto;

  .subhead {
    margin-bottom: 20px;
    h1 { 
      font-size: 2.5em;
    }
  }

  .listing {
    display: inline-block;
    width: 32%;
    border: 1px solid $orange;
    height: 300px;
    margin-bottom: 20px;
  }
}

/********************************
 * Listing Page Styles
 ********************************/

 .wrapper {
  width: 80%;
  max-width: 940px;
  margin: 10px auto;

  .left {
    width: 68%;
    float: left;

    .photos {
      .slideshowImg {
        width: 614px;
        height: 409px;
      }
      .slider-btns {
        position: absolute;
        top: 372px;
        left: 12px;
      }
      .slider-btns .back, 
      .slider-btns .forward {
        width: 0;
        height: 0;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        float: left;
      }
      .slider-btns .back { border-right: 14px solid white; }
      .slider-btns .forward {
        border-left: 14px solid white;
        margin-left: 15px;
      }
    }

    .main {
      margin-top: 20px;
      font-size: 1.6em;
    }
  }
 }


/********************************************
 * Helper classes
 ********************************************/

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
   visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/******************************************
 * Print styles.
 ******************************************/

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}